GARMIN_EMAIL=garminemail
GARMIN_PASSWORD=garminpassword

POSTGRES_DB=postgresdbname
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_PORT=5435

DATABASE_URL=postgresql+psycopg://postgresuser:postgrespassword@localhost:5435/postgresdbname
